#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))

In [1]:
#Math should be math

import math
print(math.sqrt(16))

4.0

#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()

In [3]:
#parameter and aruguments are not defined.

def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

#3.x = 5
if x = 10:
    print("x is 10")

In [5]:
# x is not defined, condition check is not correct
x = 5
if x == 10:
    print("x is 10")

#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())

In [7]:
#sort results will store in the same variable
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

#5.
def square(n):
    n * n

print(square(4))

In [9]:
# return statement is missing
def square(n):
    return(n * n)    

print(square(4))

16

#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [12]:
#Tuple is Immutable. So can't update the values.
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))

In [14]:
#age is missing in the print statement
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")

In [16]:
#validation is incorrect
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

#9.
for i in range(5, 1):
    print(i)

In [18]:
# For the postive step, Stop > Start and for the negative step, Start > Stop.
for i in range(5, 1, -1):
    print(i)

5
4
3
2

#10.
student = {"name": "John", "age": 20}
print(student[name])

In [20]:
#key is incorrect in the print statement

student = {"name": "John", "age": 20}
print(student["name"])

John